<div>
    <footer style="margin-top: 200px; background-color: black; color :white; height:150px; text-align:center;">
        <p>Copyright 2021. 컴공신입 All rights reserved.</p>
        <address>Contact webmaster for more information. TEL: SORRY</address>
    </footer>
  </div>
