<div class="header">
      JNU
  </div>
  <div class="line">

  </div>
  <div class = "tab">
      <a>공지사항</a>
      <a>팀원모집</a>
      <a>설정</a>
  </div>
  <div class="blank">
  
  

<!--
<div class ="header"><style="float:left;">JNU</style>
    <div class="tab">
    <a href="/usersetting">설정</a></div>
    <div class="tab">
    <a href="/team_main">팀원모집</a>
    </div>
  <div class="tab">
    <a href="/notice">공지사항</a>
  </div>
  </div>
  -->
