<div class ="header"><style="float:left;">JNU</style>
    <div class="tab">
    <a href="/usersetting">설정</a></div>
    <div class="tab">
    <a href="/team_main">팀원모집</a>
    </div>
  <div class="tab">
    <a href="/notice">공지사항</a>
  </div>
  </div>